@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Playfair+Display:wght@400;700&display=swap');
@import "tailwindcss";

/* iPad / tablets: mostrar la imagen COMPLETA (sin recortes) en estos tamaños exactos */



@theme {
--color-verde-oscuro: #0E2F28;  /* Verde muy oscuro  tarjetas por detras*/
  --color-verde-medio: #3B493A;   /* Verde medio */
  --color-marron-oscuro: #A46C28; /* Marrón oscuro */
  --color-naranja-oscuro: #BF7E45;/* Naranja/marrón claro letra*/
  --color-naranja-claro: #F29C50; /* Naranja claro */
  --color-amarillo: #F2CB57;      /* Amarillo */
  --font-playfair: "Playfair Display", serif;
    --font-lora: "Lora", serif;
}

.font-playfair {
  font-family: var(--font-playfair);
}

.font-lora {
  font-family: var(--font-lora);

}

/* html, body, #root {
  min-height: 100%;
}
 html, body {
  margin: 0;
  padding: 0;
  background-color: #000;
  background-image: url("/public/fondo2.png");
  background-size: cover;
  min-height: 100svh; 
  background-position: center top;
  

 

}  */
/* html { background-attachment: scroll; }  */

html, body, #root { min-height: 100%; }

html, body {
  margin: 0;
  padding: 0;
   background-color: #000;  
  background-image:url("/fondo2.png");          
  background-repeat: no-repeat;
  background-size: cover;  /* grad ocupa todo; imagen se ajusta */
  background-position: center 0;
  background-attachment: fixed  
}

body.no-fixed {
  background-attachment: scroll !important; /* fuerza scroll en esas páginas */
}

/* Tablets en vertical: mostrar la imagen completa */
@media (min-width: 300px) and (max-width: 1200px) and (orientation: portrait) {
  body {
    background-size: cover;   /* imagen entera */
     background-position:50%; 
    /* background-position se mantiene, bandas serán negras por el background-color */
  }
}